@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a, button {
  transition: all  0.2s;
  color: inherit;
  cursor: pointer;
}

a:hover, button:hover {
  text-decoration: none;
}

a:focus, button:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul a {
  display: inline-block;
}

.slick-slide, .slick-slide a {
  outline: none;
}

.slick-slider {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

input, textarea {
  outline: none;
  box-shadow: none !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 1;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent !important;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

input:focus {
  box-shadow: none;
}

textarea {
  -ms-overflow-style: none;
}

b, strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: .3;
}

.mfp-bg {
  background: #000;
}

.mfp-container {
  position: fixed;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: relative;
  min-width: 320px;
  font-family: "Circe", sans-serif;
  line-height: 1.5;
  color: #FFFFFF;
  background: linear-gradient(180deg, #031F39 0%, #001B39 6.06%, #011F3F 13.99%, #032C4D 19.4%, #043F6B 34.38%, #033257 49.35%, #413879 63.66%, #6D4F79 87.26%, #FFDDC2 100%);
  overflow-x: hidden;
}

.sbtn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  max-width: 100%;
  border: 1px solid #58DCE3;
  border-radius: 50px;
  font: 16px/1.2 "Circe";
  text-align: center;
  color: #FFFFFF;
  background: transparent;
  box-shadow: 0px 0px 5px #58DCE3;
}

.sbtn:hover {
  color: #03203B;
  background: #58DCE3;
  box-shadow: 0px 0px 20px #58DCE3;
}

.sbtn:active {
  box-shadow: none;
}

.sbtn_inv {
  color: #041F31;
  background: #58DCE3;
  box-shadow: 0px 0px 10px #58DCE3;
}

.sbtn_inv:hover {
  color: #FFFFFF;
  background: transparent;
  box-shadow: 0px 0px 15px #58DCE3;
}

.sbtn_inv:active {
  box-shadow: 0px 0px 5px #58DCE3;
}

.sbtn_white {
  border-color: #fff;
  color: #3D0043;
  background: #fff;
  box-shadow: 0px 0px 25px #FFFFFF;
}

.sbtn_white:hover {
  color: #FFFFFF;
  background: transparent;
  box-shadow: 0px 0px 15px #FFFFFF;
}

.sbtn_white:active {
  box-shadow: 0px 0px 5px #FFFFFF;
}

.sblock {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.stitle {
  margin: 0 auto 1em;
  font: bold 45px/1.2 "Circe";
}

.stext {
  font: 16px/1.5 "Circe";
  color: rgba(255, 255, 255, 0.8);
}

.stext > * {
  margin-bottom: 1.5em;
}

.stext > *:last-child {
  margin-bottom: 0;
}

.stext ul li {
  position: relative;
  margin: 0 0 0.9em;
  padding: 0 0 0 1em;
}

.stext ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.75em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
  background: #58DCE3;
  box-shadow: 0px 0px 10px #58DCE3;
}

.stext ul:not(:first-child) {
  margin-top: -0.6875em;
}

#stars {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1443px;
  }
  .header .container {
    max-width: 1770px;
  }
}

.header__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 30px 0 0;
}

.header__logo {
  display: inline-block;
  margin: 0 0 0 17px;
  z-index: 1;
}

.header__menu-btn {
  position: relative;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 1;
}

.header__menu-btn:before, .header__menu-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 1px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
}

.header__menu-btn:before {
  margin: 5px 0 0 0;
}

.header__menu-btn:after {
  margin: -5px 0 0 0;
}

.header__menu-btn:hover {
  box-shadow: none;
}

.header__menu-btn:hover:before, .header__menu-btn:hover:after {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #FFFFFF;
}

.header__menu-btn_active:before, .header__menu-btn_active:after {
  margin: 0 !important;
}

.header__menu-btn_active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header__menu-btn_active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.switcher {
  position: fixed;
  right: 5.9vw;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.switcher__item {
  position: relative;
  display: block;
  margin: 0 0 20px;
  width: 2px;
  height: 50px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.2s;
  cursor: pointer;
}

.switcher__item:last-child {
  margin: 0;
}

.switcher__item:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 60px;
}

.switcher__item:hover {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px #FFFFFF;
}

.switcher__item:active {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #FFFFFF;
}

.switcher__item_hover {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px #FFFFFF;
}

.switcher__item_active {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #FFFFFF;
}

.socials {
  position: fixed;
  left: 4.7%;
  bottom: 8%;
  z-index: 1;
}

.socials li {
  margin: 0 0 6px;
}

.socials li:last-child {
  margin: 0;
}

.socials a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 35px;
  height: 35px;
  opacity: 0.8;
}

.socials a:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 0px 4px #FFFFFF);
          filter: drop-shadow(0px 0px 4px #FFFFFF);
}

.header__menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 23.7%;
  height: 100%;
  text-align: right;
  background: rgba(0, 0, 0, 0.4);
}

.header__menu .socials {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.header__menu .socials li {
  margin: 0;
}

.header__links {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  padding: 0 5.9vw 0 0;
}

.header__links li {
  margin-bottom: 20px;
}

.header__links li:last-child {
  margin-bottom: 0;
}

.header__link {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 50px;
  padding: 5px 21px;
  font: 18px/1.4 "Circe";
  color: #FFFFFF;
}

.header__link:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.2s;
}

.header__link:hover {
  background: linear-gradient(269.86deg, rgba(255, 255, 255, 0.1) 0.11%, rgba(255, 255, 255, 0) 99.87%);
}

.header__link:hover:before {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px #FFFFFF;
}

.header__link:active:before {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #FFFFFF;
}

.header__link_active:before {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #FFFFFF;
}

.bottom-btn {
  position: absolute;
  right: 4.7%;
  bottom: 8%;
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
}

.bottom-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: all 0.2s;
}

.bottom-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #fff;
  width: 13px;
  height: 13px;
  margin: -3px 0 0 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.bottom-btn:hover {
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 12px #FFFFFF;
}

.bottom-btn:hover:before {
  opacity: 0;
}

.bottom-btn:active {
  box-shadow: 0px 0px 4px #FFFFFF;
}

.s1 {
  height: 100vh;
}

.s1__title {
  position: relative;
  display: inline-block;
  margin: 0 0 0.79em;
  font: bold 43px/1.2 "Circe";
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
}

.s1__title b {
  display: block;
  font: 800 2.98em/0.8 "Circe";
  color: rgba(255, 255, 255, 0.17);
}

.s1__subtitle {
  margin: 0 0 29px;
  max-width: 390px;
  font: bold 18px/1.5 "Circe";
  color: rgba(255, 255, 255, 0.8);
}

.s1__btn {
  width: 210px;
  height: 48px;
}

.s2 {
  height: 1543px;
}

.s2__box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s2__box > *:nth-child(1) {
  width: 56%;
}

.s2__box > *:nth-child(2) {
  width: 44%;
}

.s2__left {
  max-width: 541px;
}

.s2-body {
  position: relative;
  margin: 0 auto 48px;
  max-width: 399px;
}

.s2-body__bg > * {
  width: 100%;
  height: auto;
}

.s2-body__parts {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.s2-body__parts li {
  position: absolute;
}

.s2-body__parts li:nth-child(1) {
  width: 12.5%;
  left: 50%;
  top: 24%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.s2-body__parts li > * {
  width: 100%;
  height: auto;
}

.s2__organs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 478px;
}

.s2-organ {
  width: 25%;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.s2-organ:hover .s2-organ__text {
  color: #58DCE3;
}

.s2-organ:hover .s2-organ__img {
  opacity: 1;
}

.s2-organ_active .s2-organ__text {
  color: #58DCE3;
}

.s2-organ_active .s2-organ__img {
  opacity: 1;
}

.s2-organ__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 0 6px;
  height: 50px;
  opacity: 0.3;
  transition: all 0.2s;
}

.s2-organ__img > * {
  max-width: 100%;
  max-height: 100%;
}

.s2-organ__text {
  display: block;
  margin: 0 0 0;
  font: bold 16px/1.4 "Circe";
  color: rgba(88, 220, 227, 0.2);
  transition: all 0.2s;
}

.sslider .slick-arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 0;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.2s;
  z-index: 1;
}

.sslider .slick-arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: all 0.2s;
}

.sslider .slick-arrow:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #fff;
  width: 13px;
  height: 13px;
}

.sslider .slick-arrow:hover {
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 12px #FFFFFF;
}

.sslider .slick-arrow:hover:before {
  opacity: 0;
}

.sslider .slick-arrow:active {
  box-shadow: 0px 0px 4px #FFFFFF;
}

.sslider .slick-prev {
  margin: 0 0 0 0;
}

.sslider .slick-prev:after {
  margin: 0 0 0 3px;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.sslider .slick-next {
  margin: 0 0 0 69px;
}

.sslider .slick-next:after {
  margin: 0 0 0 -3px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.s2__items {
  padding: 0 0 132px;
}

.s2__text {
  margin: 0 0 38px;
  max-width: 560px;
}

.s2-author {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 10px 0 109px;
  width: 307px;
  height: 85px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 170px;
}

.s2-author__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
}

.s2-author__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s2-author__text-1 {
  margin: 0 0 2px;
  width: 100%;
  font: 16px/1.5 "Circe";
  color: #58DCE3;
}

.s2-author__text-2 {
  margin: 0 0 0;
  width: 100%;
  font: 12px/1.5 "Circe";
  color: rgba(255, 255, 255, 0.8);
}

.galaxy {
  position: relative;
  z-index: -1;
  margin: -34.5% 0 -20.5%;
  overflow: hidden;
}

.galaxy img {
  width: 100%;
  max-width: none;
}

.s3 {
  height: 1100px;
  margin: -347px 0 0 0;
}

.s3 .container {
  position: relative;
}

.s3__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.s3__bg img {
  max-width: none;
  position: absolute;
}

.s3__bg img:nth-child(1) {
  width: 136.7vw;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-42%, 44.5%);
          transform: translate(-42%, 44.5%);
  opacity: 0.6;
}

.s3__bg img:nth-child(2) {
  width: 139.4vw;
  right: 0;
  top: 0;
  -webkit-transform: translate(48.6%, -39.9%);
          transform: translate(48.6%, -39.9%);
  opacity: 0.6;
}

.s3__box {
  max-width: 690px;
  margin: 0 auto;
  text-align: center;
}

.s3__text {
  margin: 0 0 0;
}

.s4 {
  height: 1106px;
}

.s4__box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s4__box > *:nth-child(1) {
  width: 56%;
}

.s4__box > *:nth-child(2) {
  width: 44%;
}

.s4__img {
  margin: 4px 6% 0;
  max-width: 575px;
}

.s4__img img {
  width: 100%;
}

.s4__items {
  margin: 0 -10px;
  padding: 0 0 110px;
}

.s4__item {
  padding: 0 10px 20px;
}

.s4__text {
  margin: 0 0 0;
  max-width: 550px;
}

.s4__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 47px 0 0;
}

.s4__btns li:nth-child(1) {
  margin-right: 30px;
}

.s4__btn-1 {
  width: 208px;
  height: 48px;
}

.s4__btn-2 {
  width: 191px;
  height: 48px;
}

.s5 {
  height: 1172px;
}

.s5__box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s5__box > * {
  position: relative;
  z-index: 1;
}

.s5__box > *:nth-child(1) {
  width: 38%;
}

.s5__box > *:nth-child(2) {
  width: 62%;
}

.s5__title {
  margin: 0 0 1.22em;
  line-height: 1;
}

.s5__text {
  margin: 0 0 60px;
}

.s5-timer__text {
  margin: 0 0 19px;
  font: bold 16px/1.5 "Circe";
}

.s5-timer__values {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.s5-timer__values > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 18px;
}

.s5-timer__values > *:first-child {
  margin-right: 30px;
}

.s5-timer__values > *:last-child {
  margin: 0;
}

.s5-timer__value {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 90px;
  height: 90px;
  text-align: center;
}

.s5-timer__value-bg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.s5-timer__value-bg > * {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.s5-timer__value_1 {
  width: 129px;
  height: 129px;
  background: url("../img/5/1.svg") no-repeat center center;
}

.s5-timer__value_1 .s5-timer__value-bg > * {
  margin: 0 0 0 -6px;
}

.s5-timer__value_1 .s5-timer__value-num {
  font-size: 44px;
}

.s5-timer__value_1 .s5-timer__value-text {
  font-size: 18px;
}

.s5-timer__value_2 {
  background: url("../img/5/2.svg") no-repeat center center;
}

.s5-timer__value_3 {
  background: url("../img/5/3.svg") no-repeat center center;
}

.s5-timer__value-num {
  position: relative;
  width: 100%;
  font: bold 25px/1 "Circe";
}

.s5-timer__value-text {
  position: relative;
  width: 100%;
  font: 14px/1 "Circe";
  color: rgba(255, 255, 255, 0.6);
}

.s5__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.s5__img img {
  position: relative;
  display: inline-block;
  -webkit-transform: translate(2%, -6%);
          transform: translate(2%, -6%);
}

.s5__img-mob {
  display: none;
  margin: 68px 0 112px;
}

.s5__img-mob img {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: inline-block;
  width: 266px;
  max-width: none;
}

.s5__clouds-1 {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100vw;
  margin: -24% 0 0;
}

.s5__clouds-1 img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  max-width: none;
  width: 102.1%;
}

.s5__clouds-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  -webkit-transform: translate(30.4%, -40%);
          transform: translate(30.4%, -40%);
  width: 106.5104166666667vw;
}

.s5__clouds-2 img {
  max-width: none;
  width: 100%;
}

.s6 {
  height: 1006px;
}

.s6__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}

.s6__box > *:nth-child(1) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 72.3%;
  margin: 0 0 17px;
  padding: 0 7.7% 0 0;
}

.s6__box > *:nth-child(2) {
  width: 27.7%;
}

.s6__text {
  margin: 0 0 33px;
  max-width: 400px;
}

.s6__conditions {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  font: 14px/1.2 "Circe";
}

.s6__conditions:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
  transition: all 0.3s;
}

.s6__conditions:hover:before {
  opacity: 0;
}

.s6__steps {
  margin: 5px 0 0;
  max-width: 330px;
}

.s6__steps > * {
  margin: 0 0 10px;
}

.s6__steps li {
  margin: 0 0 71px;
}

.s6__steps li:last-child {
  margin: 0;
}

.s6-step {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}

.s6-step__num {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 65px;
  height: 62px;
  font: 24px/1.5 "Circe";
  background: url("../img/6/circkle.svg") no-repeat center center;
}

.s6-step__text {
  margin: 0;
  padding: 0 0 0 25px;
  width: calc(100% - 65px);
  font: 20px/1.5 "Circe";
}

.s6-step__text a {
  display: inline;
  text-decoration: underline;
}

.s6-step__text a:hover {
  text-decoration: none;
}

.sform {
  position: relative;
  margin: 0 auto;
  padding: 59px 53px;
  max-width: 408px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.sform input:not([type="checkbox"]) {
  display: block;
  padding: 0 12px;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  font: 16px/1.2 "Circe";
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

.sform input:not([type="checkbox"])::-webkit-input-placeholder {
  color: #FFFFFF;
}

.sform input:not([type="checkbox"]):-moz-placeholder {
  color: #FFFFFF;
}

.sform input:not([type="checkbox"])::-moz-placeholder {
  color: #FFFFFF;
}

.sform input:not([type="checkbox"]):-ms-input-placeholder {
  color: #FFFFFF;
}

.sform input:not([type="checkbox"]):focus {
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.87);
  background: transparent;
}

.sform input:not([type="checkbox"]):focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

.sform input:not([type="checkbox"]):focus:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

.sform input:not([type="checkbox"]):focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

.sform input:not([type="checkbox"]):focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

.sform button[type="submit"] {
  margin: 47px auto 0;
  width: 188px;
  height: 48px;
}

.sform__heading {
  margin: 0 -20px 56px;
  font: 20px/1.2 "Circe";
  text-align: center;
}

.sform__close, .mfp-close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 42px;
  height: 42px;
  font-size: 0;
}

.sform__close:before, .sform__close:after, .mfp-close:before, .mfp-close:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 21px;
  height: 1px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.8);
}

.sform__close:before, .mfp-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.sform__close:after, .mfp-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.sform__row {
  position: relative;
  margin: 0 0 20px;
}

.sform__row:last-child {
  margin: 0;
}

.sform__cb {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 0 0 36px;
  max-width: 230px;
  font-size: 0;
  cursor: pointer;
}

.sform__cb > span:nth-child(2) {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  background: transparent;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
}

.sform__cb > span:nth-child(3) {
  font: 13px/1.5 "Circe";
  color: rgba(255, 255, 255, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sform__cb > span:nth-child(3) a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sform__cb > span:nth-child(3) a:hover {
  border-color: transparent;
}

.sform__cb input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}

.sform__cb input[type="checkbox"]:checked + span:after {
  content: url("../img/6/checked.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 0;
}

.s7 {
  position: relative;
  height: 1630px;
}

.s7 .container {
  position: relative;
}

.s7__clouds {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.s7__clouds img {
  position: absolute;
  max-width: none;
}

.s7__clouds img:nth-child(1) {
  left: 0;
  top: 0;
  -webkit-transform: translate(-4.2%, -16%);
          transform: translate(-4.2%, -16%);
  width: 130.67%;
}

.s7__clouds img:nth-child(2) {
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-12%, 30.1%);
          transform: translate(-12%, 30.1%);
  width: 165.9375%;
}

.s7__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.s7__box > *:nth-child(1) {
  width: 42.27%;
}

.s7__box > *:nth-child(2) {
  width: 43.3%;
}

.s7-video {
  max-width: 597px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
}

.s7-video__inner {
  position: relative;
  padding: 118.7% 0 0;
  background: linear-gradient(180deg, rgba(20, 0, 43, 0.4) 0%, rgba(38, 0, 53, 0.4) 100%);
  border-radius: 10px;
  overflow: hidden;
}

.s7-video__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/7/img.jpg") no-repeat center center;
  background-size: cover;
}

.s7-video__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.s7-video__btn:before, .s7-video__btn:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 0;
  transition: all 0.2s;
}

.s7-video__btn:before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.s7-video__btn:after {
  content: url("../img/7/play.svg");
  margin: 0 0 0 3px;
}

.s7-video__btn:hover:before {
  box-shadow: 0px 0px 4px #FFFFFF;
}

.s7-video__btn:hover:after {
  -webkit-filter: drop-shadow(0px 0px 4px #FFFFFF);
          filter: drop-shadow(0px 0px 4px #FFFFFF);
}

.s7__title {
  line-height: 1.2;
}

.s7__list {
  margin: 0 0 42px;
  padding: 24px 35px;
  max-width: 471px;
  border-radius: 10px;
  font: 16px/2.45 "Circe";
  background: rgba(255, 255, 255, 0.1);
}

.s7__list li {
  position: relative;
  padding: 0 0 0 1em;
}

.s7__list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.225em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #FFFFFF;
}

.s7__text {
  margin: 0 0 42px;
}

.s7__btn {
  width: 239px;
  height: 48px;
}

.s8 {
  overflow: hidden;
  position: relative;
  padding: 0 0 190px;
}

.s8 .container {
  position: relative;
}

.s8__clouds {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 0;
}

.s8__clouds img {
  position: absolute;
  max-width: none;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-15.4%, 56%);
          transform: translate(-15.4%, 56%);
  width: 146.1979%;
}

.s8__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.s8__box > *:nth-child(1) {
  width: 444px;
}

.s8__box > *:nth-child(2) {
  width: 680px;
}

.s8__left {
  margin: 71px 0 0;
}

.s8__title {
  margin: 0 0 1.23em;
}

.s8__text {
  margin: 0 0 40px;
  max-width: 400px;
}

.s8__btn {
  width: 444px;
  height: 48px;
}

.s8__btn-mob {
  display: none;
  margin: 0 auto;
  width: 254px;
  height: 48px;
}

.s8-map {
  margin: 0 auto;
  max-width: 680px;
}

.s8-map__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 0 40px 0;
}

.s8-map__select {
  position: relative;
  display: block;
  padding: 0 40px 0 15px;
  width: 44.16%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  outline: 0;
  font: 16px/1.5 "Circe";
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.s8-map__select option {
  color: #000;
}

.s8-map__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 46%;
}

.s8-map__links a {
  position: relative;
  display: inline-block;
  padding: 0.4em 0.8em;
  font: 14px/1.5 "Circe";
  text-align: center;
  color: #FFFFFF;
}

.s8-map__links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
  transition: all 0.3s;
}

.s8-map__links a:hover:before {
  opacity: 0;
}

.s8-map__main {
  position: relative;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
}

.s8-map__main-inner {
  position: relative;
  padding: 68.5% 0 0;
  border-radius: 10px;
  background: url("../img/8/map.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.s8-map__list {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 37px 50px;
  overflow: auto;
}

.s8-map__list > * {
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.s8-map__list > *:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.s8-map__list::-webkit-scrollbar {
  width: 7px;
}

.s8-map__list::-webkit-scrollbar-thumb {
  width: 7px;
  height: 37px;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #FFFFFF;
}

.s8-map__main_list .s8-map__main-inner {
  visibility: hidden;
}

.s8-map__main_list .s8-map__list {
  display: block;
}

.s8-loc {
  padding: 14px 0 14px;
}

.s8-loc__top {
  margin: 0 0 8px;
}

.s8-loc__title {
  margin: 0 0 0;
  font: bold 16px/1.2 "Circe";
}

.s8-loc__type {
  margin: 0 0 0;
  font: 12px/1.2 "Circe";
  color: rgba(255, 255, 255, 0.6);
}

.s8-loc__text {
  margin: 0 0 0;
  font: 14px/1.45 "Circe";
}

.footer {
  padding: 13px 0;
  background: linear-gradient(0deg, #AF8B91, #AF8B91), #AF909A;
}

.footer__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font: 12px/1.5 "Circe";
}

.footer__list li {
  margin: 0 2.8em;
}

.footer__list a {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  color: #FFFFFF;
}

.footer__list a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
  transition: all 0.1s;
}

.footer__list a:hover:before {
  opacity: 0;
}

#popup-1 {
  margin: 0 auto;
  max-width: 408px;
}

#popup-thank {
  margin: 0 auto;
  max-width: 408px;
}

#popup-thank .mfp-close {
  display: none;
}

.popup-thank {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 428px;
  height: 404px;
  font: 20px/1.5 "Circe";
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.popup-thank__img {
  margin: 0 auto 12px;
  width: 85px;
  height: 85px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background: url("../img/7/thank.svg") no-repeat center center;
  box-shadow: 0px 0px 4px #FFFFFF;
}

.popup-thank__text-1 {
  width: 100%;
  margin: 0 auto 20px;
}

.popup-thank__text-2 {
  width: 100%;
  margin: 0 auto 0;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .container {
    max-width: 90%;
  }
}

@media (max-height: 800px) {
  .socials {
    left: 1%;
    bottom: 3%;
  }
  .bottom-btn {
    bottom: 5%;
  }
  .header__box {
    padding: 10px 0 0;
  }
}

@media (max-width: 1600px) {
  .header__links {
    padding: 0 3vw 0 0;
  }
  .switcher {
    right: 3vw;
  }
  .header__menu {
    width: 320px;
  }
  .s2__box > *:nth-child(1) {
    width: 50%;
  }
  .s2__box > *:nth-child(2) {
    width: 50%;
  }
  .s4__box > *:nth-child(1) {
    width: 50%;
  }
  .s4__box > *:nth-child(2) {
    width: 50%;
  }
  .s3 {
    height: 600px;
    min-height: 600px;
  }
}

@media (max-width: 1400px) {
  .s6__box > *:nth-child(1) {
    width: 68%;
  }
  .s6__box > *:nth-child(2) {
    width: 32%;
  }
  .s6__box > *:nth-child(1) {
    padding-right: 0;
  }
  .s7__box > *:nth-child(1) {
    width: 45%;
  }
  .s7__box > *:nth-child(2) {
    width: 49%;
  }
  .s8__box > *:nth-child(1) {
    width: 420px;
  }
  .s8__box > *:nth-child(2) {
    width: 600px;
  }
  .s6__steps {
    max-width: 290px;
  }
}

@media (max-width: 1199px) {
  .header .container {
    max-width: 100%;
  }
  .s1__title {
    font-size: 35px;
  }
  .header__logo {
    margin: 0;
  }
  .header__box {
    -ms-flex-align: center;
        align-items: center;
    padding: 10px 0 0;
  }
  .socials {
    display: none;
  }
  .s2__items {
    padding: 0 0 90px;
  }
  .s4__box > *:nth-child(1) {
    width: 100%;
  }
  .s4__box > *:nth-child(2) {
    width: 100%;
  }
  .s4__img {
    margin: 0 auto;
  }
  .s4__text {
    max-width: none;
  }
  .stitle {
    font-size: 40px;
  }
  .stext {
    font-size: 15px;
  }
  .s5__box > *:nth-child(1) {
    width: 100%;
  }
  .s5__box > *:nth-child(2) {
    width: 100%;
  }
  .s5__img {
    display: block;
    text-align: center;
  }
  .s5__img img {
    -webkit-transform: none;
            transform: none;
  }
  .s6__box > *:nth-child(1) {
    margin: 0 0 30px;
    width: 100%;
  }
  .s6__box > *:nth-child(2) {
    width: 100%;
  }
  .s6__steps li {
    margin: 0 0 20px;
  }
  .s6__left {
    margin: 0 0 30px;
    width: 100%;
  }
  .s6__text {
    max-width: none;
  }
  .s6__steps {
    margin: 0;
    max-width: none;
  }
  .s7__box > *:nth-child(1) {
    margin: 0 0 30px;
    width: 100%;
  }
  .s7__box > *:nth-child(2) {
    width: 100%;
  }
  .s8__box > *:nth-child(1) {
    margin: 0 0 60px;
    width: 100%;
  }
  .s8__box > *:nth-child(2) {
    width: 100%;
  }
  .s8__text {
    max-width: none;
  }
  .header__menu .socials {
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 991px) {
  .s1__title {
    font-size: 30px;
  }
  .s2__box > *:nth-child(1) {
    margin: 0 0 30px;
    width: 100%;
  }
  .s2__box > *:nth-child(2) {
    width: 100%;
  }
  .s2__left {
    margin: 0 auto;
  }
  .s2__text {
    max-width: 100%;
  }
  .stitle {
    font-size: 35px;
  }
  .stext {
    font-size: 14px;
  }
  .footer__list li {
    margin: 0 1em;
  }
}

@media (max-width: 767px) {
  .s1__title {
    font-size: 25px;
  }
  .stitle {
    font-size: 30px;
  }
  .stext {
    font-size: 13px;
  }
  .s8-map__links {
    width: 54%;
  }
}

@media (max-width: 575px) {
  .sblock {
    display: block;
    min-height: auto;
  }
  .container {
    padding: 0 33px;
  }
  .header .container {
    padding: 0 15px;
  }
  .header__box {
    padding: 7px 0 0;
  }
  .header__logo {
    max-width: 94px;
  }
  .header__menu-btn {
    width: 36px;
    height: 36px;
  }
  .header__menu-btn:before, .header__menu-btn:after {
    width: 17px;
  }
  .header__menu-btn:before {
    margin: 2px 0 0 0;
  }
  .header__menu-btn:after {
    margin: -2px 0 0 0;
  }
  .switcher__item {
    margin: 0 0 10px;
    width: 1px;
    height: 25px;
  }
  .header__menu {
    width: 100%;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  .bottom-btn {
    bottom: 10px;
    right: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%);
    width: 36px;
    height: 36px;
  }
  .bottom-btn:before {
    width: 26px;
    height: 26px;
  }
  .bottom-btn:after {
    width: 7px;
    height: 7px;
    margin: -2px 0 0 0;
  }
  .header__links {
    padding: 0 31px 0 0;
  }
  .header__link {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }
  .header__links li {
    margin-bottom: 12px;
  }
  .s1 {
    padding: 167px 0 169px;
    height: auto;
  }
  .s1__title {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin: 0 0 28px;
    font-size: 15px;
  }
  .s1__subtitle {
    margin: 0 auto 31px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }
  .sbtn {
    font-size: 13px;
  }
  .s1__btn {
    margin: 0 auto;
    width: 168px;
    height: 42px;
  }
  .galaxy {
    margin: -297px 0 -197px;
  }
  .galaxy img {
    width: 1180px;
    margin: 0 0 0 -204px;
  }
  .stitle {
    margin: 0 0 28px;
    font-size: 20px;
    text-align: center;
  }
  .s2__title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .s2 {
    height: auto;
  }
  .s2__box > *:nth-child(1) {
    padding: 57px 0 0;
  }
  .s2-body {
    margin: 0 auto 15px;
    max-width: 240px;
  }
  .s2-organ__img {
    margin: 0 0 10px;
    height: 25px;
  }
  .s2-organ__text {
    font-size: 10px;
  }
  .s2__organs {
    max-width: 270px;
  }
  .stext {
    font-size: 12px;
    text-align: center;
  }
  .s2__box > *:nth-child(1) {
    margin: 0 0 38px;
  }
  .s2__text {
    margin: 0 0 29px;
  }
  .s2-author {
    margin: 0 auto;
    padding: 0 5px 0 69px;
    width: 219px;
    height: 60px;
  }
  .s2-author__img {
    width: 60px;
    height: 60px;
  }
  .s2-author__text-1 {
    font-size: 12px;
  }
  .s2-author__text-2 {
    font-size: 10px;
  }
  .s2__items {
    padding: 0 0 47px;
  }
  .sslider .slick-arrow {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 30px;
    height: 30px;
    border: 0 !important;
    background: transparent;
    box-shadow: none !important;
  }
  .sslider .slick-arrow:before {
    display: none;
  }
  .sslider .slick-prev {
    margin: 0 0 0 -25px;
  }
  .sslider .slick-next {
    margin: 0 0 0 25px;
  }
  .s3 {
    height: auto;
    margin: 0;
    padding: 302px 0;
  }
  .s3__bg img:nth-child(1) {
    width: 1309px;
    -webkit-transform: translate(-46%, 37.5%);
            transform: translate(-46%, 37.5%);
  }
  .s3__bg img:nth-child(2) {
    width: 1000px;
    -webkit-transform: translate(55.6%, -19.9%);
            transform: translate(55.6%, -19.9%);
  }
  .s4 {
    height: auto;
    padding: 115px 0;
  }
  .s4__title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .s4__box {
    padding: 53px 0 0;
  }
  .s4__img {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin: 0;
    max-width: none;
    width: 273px;
  }
  .s4__box > *:nth-child(1) {
    margin: 0 0 41px;
  }
  .s4__btns {
    margin: 78px 0 0;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .s4__btns li {
    width: 100%;
  }
  .s4__btns li:nth-child(1) {
    margin: 0 0 20px;
  }
  .s4__btn-1 {
    margin: 0 auto;
    width: 178px;
    height: 42px;
  }
  .s4__btn-2 {
    margin: 0 auto;
    width: 168px;
    height: 42px;
  }
  .s4__items {
    padding: 0;
  }
  .s4__items .slick-arrow {
    bottom: 156px;
  }
  .s5__img {
    display: none;
  }
  .s5__img-mob {
    display: block;
  }
  .s5__text {
    text-align: left;
  }
  .s5 {
    padding: 171px 0;
    height: auto;
  }
  .stext ul:not(:first-child) {
    margin-top: -3px;
  }
  .stext ul li {
    margin: 0 0 8px;
  }
  .s5__text {
    margin: 0 0 38px;
  }
  .s5-timer__text {
    margin: 0 0 9px;
    font-size: 12px;
  }
  .s5-timer__value {
    width: 64px;
    height: 64px;
  }
  .s5-timer__value_1 {
    width: 90px;
    height: 90px;
  }
  .s5-timer__value-bg {
    display: none;
  }
  .s5-timer__value-num {
    font-size: 20px;
  }
  .s5-timer__value-text {
    font-size: 10px;
  }
  .s5-timer__value_1 .s5-timer__value-num {
    font-size: 30px;
  }
  .s5-timer__value_1 .s5-timer__value-text {
    font-size: 12px;
  }
  .s5-timer__values > * {
    margin: 0 18px 0 0;
  }
  .s5-timer__value_1 {
    background-size: 100% auto;
  }
  .s5-timer__value_2 {
    background-size: 100% auto;
  }
  .s5-timer__value_3 {
    background-size: 100% auto;
  }
  .s5-timer__values > * {
    margin: 0 9px 0 0;
  }
  .s5-timer__values > *:first-child {
    margin-right: 27px;
  }
  .s6 {
    padding: 0 0 0;
    height: auto;
  }
  .s6__title {
    margin: 0 0 32px;
  }
  .s6__text {
    margin: 0 0 28px;
  }
  .s6__conditions {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 11px;
  }
  .s6-step__num {
    width: 46px;
    height: 46px;
    font-size: 18px;
    background-size: 110% auto;
  }
  .s6__left {
    margin: 0 0 58px;
  }
  .s6-step__text {
    padding: 0 0 0 16px;
    font-size: 16px;
    line-height: 130%;
  }
  .s6__steps li {
    margin: 0 0 31px;
  }
  .sform {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    max-width: none;
    width: 270px;
    margin: 0;
    padding: 30px 10px;
  }
  .s6__box > *:nth-child(1) {
    margin: 0 0 82px;
  }
  .sform input:not([type="checkbox"]) {
    padding: 0 8px;
    height: 42px;
    font-size: 12px;
  }
  .sform__row {
    margin: 0 0 15px;
  }
  .sform__cb > span:nth-child(3) {
    font-size: 10px;
  }
  .sform__cb > span:nth-child(2) {
    width: 19px;
    height: 19px;
  }
  .sform__cb {
    margin-top: 22px;
    padding: 0 0 0 30px;
    max-width: 185px;
  }
  .sform button[type="submit"] {
    margin: 24px auto 0;
    width: 168px;
    height: 42px;
  }
  .sform__heading {
    margin: 0 -10px 30px;
    font-size: 16px;
  }
  .s6__steps {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  .s7 {
    padding: 335px 0 0;
    height: auto;
  }
  .s7__box {
    position: relative;
    padding: 79px 0 0;
  }
  .s7__title {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 254px;
  }
  .s7-video {
    padding: 10px;
    max-width: 254px;
  }
  .s7-video__btn {
    width: 48px;
    height: 48px;
  }
  .s7-video__btn:before {
    width: 35px;
    height: 35px;
  }
  .s7-video__btn:after {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
  .s7__list {
    margin: 0 0 33px;
    padding: 20px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  .s7__list li {
    margin: 0 0 10px;
  }
  .s7__list li:last-child {
    margin: 0;
  }
  .s7__list li:before {
    top: 0.75em;
  }
  .s7__text {
    margin: 0 0 34px;
  }
  .s7__btn {
    margin: 0 auto;
    width: 187px;
    height: 42px;
  }
  .s8 {
    padding: 251px 0 78px;
    height: auto;
  }
  .s8__title {
    margin: 0 0 34px;
  }
  .s8__text {
    margin: 0 0 30px;
  }
  .s8__btn {
    display: none;
  }
  .s8__btn-mob {
    display: -ms-flexbox;
    display: flex;
  }
  .s8-map {
    max-width: 254px;
  }
  .s8-map__select {
    margin: 0 0 19px;
    padding: 0 40px 0 12px;
    width: 100%;
    height: 40px;
    font-size: 12px;
  }
  .s8-map__links {
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
  }
  .s8-map__links a {
    padding: 5px 10px;
    font-size: 10px;
  }
  .s8-map__links li:nth-child(1) {
    margin: 0 15px 0 0;
  }
  .s8__box > *:nth-child(1) {
    margin: 0 0 30px;
  }
  .s8-map__top {
    margin: 0 0 31px 0;
  }
  .s8-map__main {
    padding: 10px;
  }
  .s8-map__main-inner {
    padding: 135.5% 0 0;
  }
  .footer {
    margin: 0;
    padding: 15px 0 60px;
  }
  .footer .container {
    padding: 0 15px;
  }
  .footer__list {
    font-size: 10px;
  }
  .footer__list li {
    margin: 0 10px 10px;
  }
  .sform__close {
    width: 30px;
    height: 30px;
  }
  #popup-1 {
    max-width: 270px;
  }
  .popup-thank {
    height: 300px;
  }
  .popup-thank {
    font-size: 16px;
  }
  #popup-thank {
    max-width: 270px;
  }
  .s8-map__list {
    padding: 10px;
  }
  .s8-loc__title {
    font-size: 14px;
  }
  .s8-loc__type {
    font-size: 10px;
  }
  .s8-loc__text {
    font-size: 12px;
  }
  .s8-loc {
    padding: 0 0 10px;
  }
  .s8-map__list > * {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
